{% extends "base.html"%}

{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    <li><a href="/host/host/">主机</a></li>
    <li><a href="/host/host/{{host.id}}/">{{host.ip}}</a></li>
    <li class="active">端口</li>
{%endblock%}
{% block serach%}
    {%if host %}
         <input type="hidden"  name="host_id" value="{{host.id}}" class="form-control ">
    {%endif%}
{%endblock%}
{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>端口号</th>
                <th>进程名称</th>
                <th>别名</th>
                <th>端口状态</th>
                <th>报警状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if not ports %}<tr><td class="warning" colspan="8">没有记录</td></tr>{%endif%}
            {% for port in ports %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{port.id}}"></td>
                    <td>{{ port.port }}</td>
                    <td>{{port.proc_name}}</td>
                    <td>{{port.alias|default:"未设置"}}</td>
                    <td>
                        {% if port.status == 0 %}
                            <span style="color: green">正常</span>
                        {%else%}
                            <span style="color: red">故障</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if port.alarm == 0 %}
                            <span style="color: green">开启</span>
                        {%else%}
                            <span style="color: red">关闭</span>
                        {% endif %}
                    </td>
                    <td width="15%">
                        <a href="/host/port/{{port.id}}/?host_id={{host.id}}" class="btn btn-link">修改</a>
                        <a name="delete" href="javascript:void(0)" title="{{port.id}}" class="btn btn-link">删除</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}