{% extends "base.html"%}

{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    {% if host %}
        <li><a href="/host/host/">主机</a></li>
        <li><a href="/host/host/?host_id={{host.id}}">{{host.ip}}</a></li>
    {% else %}
        <li><a href="/host/template/">模版</a></li>
        <li><a href="/host/template/?template_id={{template.id}}">{{template.name}}</a></li>
    {%endif%}
    <li class="active">服务</li>
{%endblock%}
{% block serach%}
    {%if host %}
         <input type="hidden"  name="host_id" value="{{host.id}}" class="form-control ">
    {%endif%}
    {%if template %}
         <input type="hidden"  name="template_id" value="{{template.id}}" class="form-control ">
    {%endif%}
{%endblock%}
{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>服务名</th>
                <th>指标</th>
                {% if host %}
                <th>图形</th>
                <th>报警状态</th>
                {% endif %}
                <th>报警联系人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if not services %}<tr><td class="warning" colspan="10">没有记录</td></tr>{%endif%}
            {% for s in services %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{s.id}}"></td>
                    <td>{{ s.name }}</td>
                    <!--td><a href="/host/item/?service_id={{s.id}}"><u>监控项</u></a> ({{ s.item_set.count }})</td-->
                    <td>
                        {% if host %}
                            <a href="/host/item/?host_id={{host.id}}&service_id={{s.id}}"><u>指标</u> </a>({{s.item_set.count}})
                        {% else %}
                            <a href="/host/item/?template_id={{template.id}}&service_id={{s.id}}"><u>指标</u> </a>({{s.item_set.count}})
                        {%endif%}
                    </td>
                    {% if host %}
                    <td>
                        <a href="/graph/draw/?uuid={{host.uuid}}&service_id={{s.id}}"><span class="glyphicon glyphicon glyphicon-picture" aria-hidden="true"></span></a>
                    </td>
                    <td>
                        {% if s.alarm == 0 %}
                            <span style="color: green">开启</span>
                        {%else%}
                            <span style="color: red">关闭</span>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td>
                        {%for group in s.group.all%}
                            {{group.name}}</br>
                        {%endfor%}
                    </td>
                    <td>
                        {% if host%}
                            <a href="/host/service/{{s.id}}/?host_id={{host.id}}&service_id={{s.id}}" class="btn btn-link">修改</a>
                        {%else%}
                            <a href="/host/service/{{s.id}}/?template_id={{template.id}}&service_id={{s.id}}" class="btn btn-link">修改</a>
                        {%endif%}
                        <a href="javascript:void(0);" name="delete" title="{{s.id}}" class="btn btn-link">删除</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if services.has_previous %}
            <li><a id="p_page" href="?page={{ services.previous_page_number }}{%if host%}&host_id={{host.id}}{%endif%}{%if template%}&template_id={{template.id}}{%endif%}">上一页</a></li>
        {%endif%}
        当前页 {{ services.number }} 共 {{ services.paginator.num_pages }}页
        {% if services.has_next %}
        <li><a id="n_page" href="?page={{ services.next_page_number}}{%if host%}&host_id={{host.id}}{%endif%}{%if template%}&template_id={{template.id}}{%endif%}">下一页</a></li>
        {%endif%}
        <br/>总计 {{services.paginator.count}}条记录
    </ul>
</nav>
{% endblock %}