{% extends "base.html"%}

{% block breadcrumb%}
<li><a href="#">首页</a></li>
<li><a href="/host/host/">主机列表</a></li>
<li><a href="/host/host/?host_id={{host.id}}">{{host.ip}}</a></li>
<li class="active">资产信息</li>
{% endblock %}
{% block buttonHead%}
{% endblock%}
{% block content%}
<div class="container-fluid">
    <div></div>
    <div class="row">
        {%if message %}
        <div class="alert alert-danger" role="alert">{{message}}</div>
        {%endif%}
        <div class="col-sm-10">
            <form action="" class="form-horizontal" method="post">
                {% csrf_token %}
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#basic" id=“basic-tab" role="tab" data-toggle="tab" aria-controls=“basic" aria-expanded="true">基础信息</a></li>
                    <li role="presentation"><a href="#cpu" role="tab" id="cpu-tab" data-toggle="tab" aria-controls="cpu" aria-expanded="false">处理器</a></li>
                    <li role="presentation"><a href="#memory" role="tab" id="memory-tab" data-toggle="tab" aria-controls=“memory" aria-expanded="false">内存</a></li>
                    <li role="presentation"><a href="#disk" role="tab" id="disk-tab" data-toggle="tab" aria-controls=“disk" aria-expanded=“false”>磁盘</a></li>
                    <li role="presentation"><a href="#nic" role="tab" id="nic-tab" data-toggle="tab" aria-controls=“nic" aria-expanded=“false”>网卡</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="basic" aria-labelledby="basic-tab">
                        <p>
                        <input type="hidden" name="id" value="{{server.id}}"/>

                        <div class="form-group">
                            <label for="sn" class="col-sm-1 control-label">sn</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="sn" id="sn" value="{{server.sn}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cabinet" class="col-sm-1 control-label">机柜</label>

                            <div class="col-sm-7">
                                <select class="form-control" name="cabinet" id="cabinet">
                                    <option value="">--------</option>
                                    {% for cabinet in cabinets %}
                                    <option value="{{cabinet.id}}" {%if server.cabinet == cabinet %} selected {%endif%}>
                                        {{cabinet.name}}
                                    </option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-1 control-label">U位</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="location" id="location" value="{{server.location}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unit" class="col-sm-1 control-label">结构</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="unit" id="unit">
                                    <option value="">--------</option>
                                    {% for unit in units %}
                                        <option value="{{unit}}" {%if server.unit == unit %} selected {%endif%}>{{unit}}U
                                    </option>
                                    {%endfor%}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="vender" class="col-sm-1 control-label">厂商</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="vender" name="vender"
                                       value="{{server.vender}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="model" class="col-sm-1 control-label">型号</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="model" name="model"
                                       value="{{server.model}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-7">
                                <br/>
                                <button type="submit" class="btn btn-success" style="margin-right: 10px;" id="submit">
                                    提交
                                </button>
                                <button type="button" class="btn btn-default " id="return">返回</button>
                            </div>
                        </div>
                    </div>
                    </p>
                    <!- 处理器信息 -!>
                    <div role="tabpanel" class="tab-pane fade" id="cpu" aria-labelledby="cpu-tab">
                        <div class="form-group">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>序列号</th>
                                    <th>型号</th>
                                </tr>
                                </thead>
                                {% for cpu in server.cpu_set.all%}
                                <tbody>
                                <tr>
                                    <th scope="row">{{cpu.name}}</th>
                                    <td>{{cpu.sn}}</td>
                                    <td>{{cpu.model}}</td>
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="memory" aria-labelledby="memory-tab">
                        <div class="form-group">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>槽位</th>
                                    <th>容量</th>
                                    <th>速率</th>
                                </tr>
                                </thead>
                                {% for memory in server.memory_set.all%}
                                <tbody>
                                <tr>
                                    <th scope="row">{{memory.locator}}</th>
                                    <td>{{memory.size}}</td>
                                    <td>{{memory.speed}}</td>
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="disk" aria-labelledby="disk-tab">
                        <div class="form-group">

                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>槽位</th>
                                    <th>厂商</th>
                                    <th>容量</th>
                                    <th>速率</th>
                                </tr>
                                </thead>
                                {% for disk in server.disk_set.all%}
                                <tbody>
                                <tr>
                                    <th scope="row">{{disk.slot}}</th>
                                    <td>{{disk.vender}}</td>
                                    <td>{{disk.capacity}}</td>
                                    <td>{{disk.speed}}</td>
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="nic" aria-labelledby="nic-tab">
                        <div class="form-group">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>MAC地址</th>
                                    <th>厂商</th>
                                    <th>说明</th>
                                </tr>
                                </thead>
                                {% for nic in server.nic_set.all%}
                                <tbody>
                                <tr>
                                    <th scope="row">{{nic.name}}</th>
                                    <td>{{nic.mac}}</td>
                                    <td>{{nic.vender}}</td>
                                    <td>{{nic.description}}</td>
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

{% endblock %}