{% extends "base.html"%}
{% block title%}设备列表{%endblock%}

{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    <li><a href="/network/device/">设备列表</a></li>
    <li><a href="/network/device/{{device.id}}/">{{device.ip}}</a></li>
    <li class="active">自定义oid</li>
{% endblock %}

{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>名称</th>
                <th>oid</th>
                <th>报警规则</th>
                <th>图形</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if not oids %}<tr class="warning"><td colspan="9">没有记录</td></tr>{%endif%}
            {% for oid in oids %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{oid.id}}"></td>
                    <td>{{ oid.name }}</td>
                    <td>{{ oid.oid }}</td>
                    <td><a href="/network/item/?device_id={{device.id}}&oid_id={{oid.id}}">{{oid.item_set.count}}</a></td>
                    <td><a href="/graph/draw/?uuid={{device.uuid}}&interface_id={{interface.id}}&oid_id={{oid.id}}"><span class="glyphicon glyphicon glyphicon-picture" aria-hidden="true"></span></a></td>
                    <td>
                        <a href="/network/oid/{{oid.id}}/?device_id={{device.id}}" class="btn btn-link">修改</a>
                        <a name="delete" href="javascript:void(0)" title="{{oid.id}}" class="btn btn-link">删除</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <nav class="pull-right">
      <ul class="pagination">
        <li>
          <a href="" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}

