{% extends "base.html"%}
{% block title%}设备列表{%endblock%}

{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    <li class="active">设备列表</li>
{% endblock %}

{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>IP地址</th>
                <th>SN</th>
                <th>机柜</th>
                <th>型号</th>
                <th>接口</th>
                <th>自定义OID</th>
                <!--th>报警状态</th-->
                <th>报警联系人组</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if not devices %}<tr class="warning"><td colspan="9">没有记录</td></tr>{%endif%}
            {% for device in devices %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{device.id}}"></td>
                    <td>{{ device.ip }}</td>
                    <td>{{ device.sn }}</td>
                    <td>{{ device.cabinet | default:"没有数据" }}</td>
                    <td>{{ device.vender }} {{ device.model }}</td>
                    <td><a href="/network/interface/?device_id={{device.id}}">{{ device.interface_set.count }}</a></td>
                    <td><a href="/network/oid/?device_id={{device.id}}">{{ device.oid_set.count }}</a></td>
                    <!--td>
                        {% if device.alarm == 0 %}
                            <span style="color: green">已开启</span>
                        {%else%}
                            <span style="color: red">已关闭</span>
                        {% endif %}
                    </td-->
                    <td>
                        {% for group in device.group.all%}
                            {{group.name}}<br/>
                        {%endfor%}
                    </td>
                    <td>
                        <a href="/network/device/{{device.id}}/" class="btn btn-link">修改</a>
                        <a name="delete" href="javascript:void(0)" title="{{device.id}}" class="btn btn-link">删除</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if devices.has_previous %}
            <li><a id="p_page" href="?page={{ devices.previous_page_number }}">上一页</a></li>
        {%endif%}
        当前页 {{ devices.number }} 共 {{ devices.paginator.num_pages }}页
        {% if devices.has_next %}
        <li><a id="n_page" href="?page={{ devices.next_page_number }}">下一页</a></li>
        {%endif%}
        <br/>总计 {{devices.paginator.count}}条记录
    </ul>
</nav>
{% endblock %}

{%block js%}
<script type="text/javascript">
    var queryString = getUrlParam("q");
    if(queryString != null){
        $("#p_page").attr("href", $("#p_page").attr("href") + "&q=" + queryString)
        $("#n_page").attr("href", $("#n_page").attr("href") + "&q=" + queryString)
    }
</script>
{%endblock%}
