{% extends "base.html"%}
{% block title%}{% if device %}编辑{%else%}新增{%endif%}设备{%endblock%}
{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    <li><a href="/network/device/">设备列表</a></li>
    {%if device %}
    <li><a href="/network/device/?device_id={{device.id}}">{{device.ip}}</a></li>
    <li class="active">修改</li>
    {%else%}
    <li class="active">新增</li>
    {%endif%}
{% endblock %}
{% block buttonHead%}
{% endblock%}
{% block content%}
<div class="container-fluid">
    <div class="row">
        {%if message %}
            <div class="alert alert-danger" role="alert">{{message}}</div>
        {%endif%}
        <div class="col-sm-10">
            <form action="" class="form-horizontal" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{device.id}}" />
                <div class="form-group form-group-sm">
                    <label for="cabinet" class="col-sm-1 control-label">机柜</label>
                    <div class="col-sm-7">
                        <select id="cabinet" name="cabinet" class="form-control">
                            <option value="">--------</option>
                            {% for cabinet  in cabinets %}
                                <option value="{{cabinet.id}}" {% ifequal device.cabinet cabinet %} selected {%endifequal%}>{{cabinet.name}}</option>
                            {%endfor%}
                        </select>
                        <p class="help-block">设备所在的机柜</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="location" class="col-sm-1 control-label">位置</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="location" id="location" value="{{device.location}}">
                        <p class="help-block">设备在机柜中的起始U位</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="unit" class="col-sm-1 control-label">结构</label>
                    <div class="col-sm-7">
                        <select id="unit" name="unit" class="form-control">
                            <option value="">--------</option>
                            {% for unit  in units %}
                                <option value="{{unit}}" {% ifequal device.unit unit %} selected {%endifequal%}>{{unit}}U</option>
                            {%endfor%}
                        </select>
                        <p class="help-block">设备的U数</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="sn" class="col-sm-1 control-label">SN</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="sn" id="sn" value="{{device.sn}}">
                        <p class="help-block">设备的序列号</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="vender" class="col-sm-1 control-label">品牌</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="vender" id="vender" value="{{device.vender}}">
                        <p class="help-block">设备的品牌，如：H3C、Cisco、Juniper等</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="model" class="col-sm-1 control-label">型号</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="model" id="model" value="{{device.model}}">
                        <p class="help-block">设备的具体型号</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="ip" class="col-sm-1 control-label">IP</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="ip" id="ip" value="{{device.ip}}">
                        <p class="help-block">设备的IP地址</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="proxy" class="col-sm-1 control-label">代理</label>
                    <div class="col-sm-7">
                        <select id="proxy" name="proxy" class="form-control">
                            <option value="">--------</option>
                            {% for proxy  in proxys %}
                                <option value="{{proxy.id}}" {% ifequal device.proxy proxy %} selected {%endifequal%}>{{proxy.ip}}</option>
                            {%endfor%}
                        </select>
                        <p class="help-block">设备的代理地址</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="snmp_community" class="col-sm-1 control-label">snmp团体名</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="snmp_community" id="snmp_community" value="{{device.snmp_community|default:'public'}}">
                        <p class="help-block">设备的snmp 团体名，默认一般为public</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="snmp_version" class="col-sm-1 control-label">SNMP版本</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="snmp_version" id="snmp_version" value="{{device.snmp_version|default:'2c'}}">
                         <p class="help-block">设备的snmp 版本，目前只支持2c</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="snmp_port" class="col-sm-1 control-label">SNMP端口</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="snmp_port" id="snmp_port" value="{{device.snmp_port|default:'161'}}">
                         <p class="help-block">设备的snmp端口，默认一般为161</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="config_update_interval" class="col-sm-1 control-label">配置更新间隔</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="config_update_interval" id="config_update_interval" value="{{device.config_update_interval|default:'3600'}}">
                        <p class="help-block">服务端采集设备的端口信息时间间隔，默认3600，单位为秒</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="check_interval" class="col-sm-1 control-label">数据更新间隔</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="check_interval" id="check_interval" value="{{device.check_interval|default:'60'}}">
                        <p class="help-block">服务端采集流量时间间隔，默认60，单位为秒</p>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="groups" class="col-sm-1 control-label">报警联系人组</label>
                    <div class="col-sm-7">
                        <select multiple  class="form-control" name="groups" id="groups">
                            {% for group in groups %}
                                <option value="{{group.id}}" {%if group in device.group.all %} selected {%endif%}>{{group.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7">
                        <br/>
                        <button type="submit" class="btn btn-success" style="margin-right: 10px;" id="submit">提交</button>
                        <button type="button" class="btn btn-default "  id="return">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{%block js%}
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <script>
        demo1 = $("select[name='groups']").bootstrapDualListbox({
            moveOnSelect: false
        });
    </script>
{%endblock%}