# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Mac OS
.DS_Store

# Redis db
*.rdb

# db
*.db

# CSV files
*.csv

# Configs
*.conf

# IDE files
.idea
.vscode/

# Log files
*.log

# Others
*.swp
*.lock

# Output files
output/
dist/
