<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>登陆页面</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <form class="form-signin" method="post">
         {% csrf_token %}
        <h2 class="form-signin-heading">请登陆</h2>
        <label for="username" class="sr-only">用户名</label>
        <input type="username" id="username" name="username" class="form-control" placeholder="username" required autofocus>
        <label for="password" class="sr-only">密码</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        {%if message %}
            <p class="text-danger">
                {{message}}
            </p>
        {%endif%}
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>

</div>
<!-- /container -->


</body>
</html>
