{% extends "base.html"%}
{% block title%}设备列表{%endblock%}

{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    <li class="active">用户列表</li>
{% endblock %}

{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>手机号</th>
                <th>邮箱</th>
                <th>微信</th>
                <th>用户组</th>
                <th>管理员</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if not users %}<tr class="warning"><td colspan="9">没有记录</td></tr>{%endif%}
            {% for user in users %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{user.id}}"></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.userprofile.realname }}</td>
                    <td>{{ user.userprofile.phone }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userprofile.weixin }}</td>
                    <td>{%for group in user.groups.all %}
                            {{ group.name }}</br>
                        {%endfor%}
                    </td>
                    <td>
                        {% if user.is_superuser == 0 %}
                           <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {%else%}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {%endif%}
                    </td>
                    <td>
                        {% if user.is_active == 0 %}
                            <span class="label label-default">禁用</span>
                        {%else%}
                            <span class="label label-success">启用</span>
                        {%endif%}
                    </td>
                    <td>
                        <a href="/system/user/{{user.id}}/" class="btn btn-link">修改</a>
                        <a name="delete" href="javascript:void(0)" title="{{user.id}}" class="btn btn-link">删除</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if users.has_previous %}
            <li><a id="p_page" href="?page={{ users.previous_page_number }}">上一页</a></li>
        {%endif%}
        当前页 {{ users.number }} 共 {{ users.paginator.num_pages }}页
        {% if users.has_next %}
        <li><a id="n_page" href="?page={{ users.next_page_number }}">下一页</a></li>
        {%endif%}
        <br/>总计 {{users.paginator.count}}条记录
    </ul>
</nav>
{% endblock %}

{%block js%}
<script type="text/javascript">
    var queryString = getUrlParam("q");
    if(queryString != null){
        $("#p_page").attr("href", $("#p_page").attr("href") + "&q=" + queryString)
        $("#n_page").attr("href", $("#n_page").attr("href") + "&q=" + queryString)
    }
</script>
{%endblock%}