[Unit]
Description=OWL Proxy
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/owl-proxy/bin
ExecStart=/usr/local/owl-proxy/bin/owl-proxy
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=655350

[Install]
WantedBy=multi-user.target