[Unit]
Description=OWL Repeater
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/owl-repeater/bin
ExecStart=/usr/local/owl-repeater/bin/owl-repeater
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=655350

[Install]
WantedBy=multi-user.target