[Unit]
Description=OWL CFC
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/owl-cfc/bin
ExecStart=/usr/local/owl-cfc/bin/owl-cfc
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=655350

[Install]
WantedBy=multi-user.target