[Unit]
Description=owl-proxy
After=network.target

[Service]
ExecStart=/usr/local/owl-proxy/proxy
Type=simple
PIDFile=/usr/local/owl-proxy/proxy.pid
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=65535

[Install]
WantedBy=default.target
