[Unit]
Description=owl-inspector
After=network.target

[Service]
ExecStart=/usr/local/owl-inspector/inspector
Type=simple
PIDFile=/usr/local/owl-inspector/inspector.pid
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=65535

[Install]
WantedBy=default.target
