[Unit]
Description=owl-cfc
After=network.target

[Service]
ExecStart=/usr/local/owl-cfc/cfc
Type=simple
PIDFile=/usr/local/owl-cfc/cfc.pid
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=65535

[Install]
WantedBy=default.target
