[Unit]
Description=owl-api
After=network.target

[Service]
ExecStart=/usr/local/owl-api/api
Type=simple
PIDFile=/usr/local/owl-api/api.pid
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=65535

[Install]
WantedBy=default.target
