[Unit]
Description=owl-controller
After=network.target

[Service]
ExecStart=/usr/local/owl-controller/controller
Type=simple
PIDFile=/usr/local/owl-controller/controller.pid
Restart=always
RestartSec=5
StandardOutput=null
LimitNOFILE=65535

[Install]
WantedBy=default.target
