{% extends "base.html"%}
{% block title%}主机列表{%endblock%}

{% block breadcrumb%}
    <li><a href="#">首页</a></li>
    <li><a href="/assest/assest/">机柜图</a></li>
    <li><a href="/assest/cabinet/">机柜管理</a></li>
    <li class="active">机房管理</li>
{% endblock %}
{%block buttonHead%}
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-8">
            <input onclick="window.location.replace(window.location.pathname + 'add/' + window.location.search)" type="button" class="btn btn-primary btn-sm" value="新建">
            <input id="mDelete" type="button" class="btn btn-danger btn-sm" value="批量删除">
        </div>
        <div class="col-md-4">
            <form class="form-inline" style="text-align: right" method="get">
                <div class="form-group">
                    <label for="query" class="sr-only"></label>
                    <input type="text" id="query" name="query" class="form-control ">
                </div>
                <button type="button" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
{%endblock%}

{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>名称</th>
                <th>地址</th>
                <th>联系方式</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% if not idcs %}<tr class="warning"><td colspan="9">没有记录</td></tr>{%endif%}
            {% for idc in idcs %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{host.id}}"></td>
                    <td><a href="/assest/idc/{{idc.id}}/">{{idc.name}}</a></td>
                    <td>{{idc.address}}</td>
                    <td>{{idc.tel}}</td>
                    <td>{{idc.remark}}</td>
                    <td>
                        <a name="delete" href="javascript:void(0)" title="{{idc.id}}" class="btn btn-link">删除</a>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <nav class="pull-right">
      <ul class="pagination">
        <li>
          <a href="" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}

