{% extends "base.html"%}
{% block title%}自定义绘图{%endblock%}

{% block breadcrumb%}
    <li><a href="/">首页</a></li>
    <li class="active">自定义绘图</li>
{% endblock %}

{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>图形名称</th>
                <th>指标</th>
                <th>创建者</th>
            </tr>
        </thead>
        <tbody>
            {% if not graphs %}<tr class="warning"><td colspan="3">没有记录</td></tr>{%endif%}
            {% for graph in graphs %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{graph.id}}"></td>
                    <td><a href="/graph/metric/?graph_id={{graph.id}}">{{graph.title}}</a></td>
                    <td>
                        {%for metric in graph.metric_set.all%}
                        {{metric.ip}}.{{metric.metric}}
                        <br/>
                        {%endfor%}
                    </td>
                    <td>{{graph.user.username}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if graphs.has_previous %}
            <li><a id="p_page" href="?page={{ graphs.previous_page_number }}">上一页</a></li>
        {%endif%}
        当前页 {{ graphs.number }} 共 {{ graphs.paginator.num_pages }}页
        {% if graphs.has_next %}
        <li><a id="n_page" href="?page={{ graphs.next_page_number }}">下一页</a></li>
        {%endif%}
        <br/>总计 {{graphs.paginator.count}}条记录
    </ul>
</nav>
{% endblock %}