{% extends "base.html"%}
{% block css%}
<link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" />
{% endblock %}
{% block breadcrumb%}
<li><a href="#">首页</a></li>
{%if host%}
    <li><a href="/host/host/">主机</a></li>
    <li><a href="/host/host/?host_id={{host.id}}">{{host.ip}}</a></li>
    <li><a href="/host/service/?host_id={{host.id}}">服务</a></li>
    <li class="active">{{service.name}}</li>
{%endif%}
{%if device%}
    <li><a href="/network/device/">网络设备</a></li>
    <li><a href="/network/device/?device_id={{device.id}}">{{device.ip}}</a></li>
    <li><a href="/network/interface/?device_id={{device.id}}">接口</a></li>
    <li class="active">{{interface.name}}</li>
{%endif%}
{% endblock %}
{% block buttonHead%}
{% endblock%}

{% block content %}
<div class="container pull-right">
    <form class="form-inline pull-right">
        <div class="form-group">
            开始时间：
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name="start"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            结束时间:
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" name="end"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="refresh">刷新</button>

    </form>

</div>

<div id="container" style="height:600px"></div>
{% endblock %}

{% block js%}
<script src="/static/js/jquery.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/highcharts/highstock.js"></script>
<script type="text/javascript">

    Highcharts.setOptions({
        global: {
            useUTC: false
        },
        lang:{
            rangeSelectorZoom:""
        }
    });

    $('#container').highcharts('StockChart', {
        credits:{
            enabled:false
        },
        yAxis: {
            min:0,
            opposite: false,
            labels: {
                formatter: function () {
                if (this.value > 1099511627776 ){
                    return (this.value/1099511627776).toFixed(2) + "TB"
                }
                if (this.value > 1073741824){
                    return (this.value/1073741824).toFixed(2) + "GB"
                }
                if (this.value>1048576){
                    return (this.value/1048576).toFixed(2) + "MB"
                }
                if(this.value>1024){
                    return (this.value/1024).toFixed(2) + "KB"
                }
                return this.value;
                //return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },
        tooltip: {
            formatter: function(){
                var s = '<b>' + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '</b><br>';
                var data = "";
                $.each(this.points, function(){
                    s += '<span style="color:' + this.series.color + '">' + this.series.name + ':';
                    if (this.y > 1099511627776 ){
                        data  = (this.y/1099511627776).toFixed(2) + "TB"
                    }else if (this.y > 1073741824){
                        data = (this.y/1073741824).toFixed(2) + "GB"
                    }else if (this.y>1048576){
                        data = (this.y/1048576).toFixed(2) + "MB"
                    }else if(this.y>1024){
                        data =  (this.y/1024).toFixed(2) + "KB"
                    }else{
                        data = this.y.toFixed(2);
                    }
                    s += '<b>' + data + '</b><br/>';
                });
                return s;
            }
        },
        legend: {
            enabled:true,
            layout: 'horizontal'
        },
        scrollbar:{
            barBackgroundColor:'white',
            buttonBackgroundColor:'white'
        },
        rangeSelector: {
            enable:false,
            inputEnabled:false,
            buttons: [{
                type: 'minute',
                count: 30,
                text: '30分钟'
            }, {
                type: 'minute',
                count: 60,
                text: '一个小时'
            }, {
                type: 'minute',
                count:60 * 12,
                text: '12小时'
            }, {
                type: 'day',
                count: 1,
                text: '一天'
            }, {
                type: 'all',
                text: '所有'
            }],
            buttonTheme: {
                width: 60
            },
            selected:1
        },
        series:[
        ]
    });


//http://eonasdan.github.io/bootstrap-datetimepicker/

 $('#datetimepicker1').datetimepicker({
    format:"YYYY-MM-DD HH:mm:SS"
 });
 $('#datetimepicker2').datetimepicker({
    format:"YYYY-MM-DD HH:mm:SS"
  });
var chart = $('#container').highcharts();
chart.showLoading('数据加载中...');
{%if service%}
    {%for i in service.item_set.all%}
            $.ajax({
                type:"GET",
                url:"/get_data/?uuid={{host.uuid}}&metric={{service.name}}.{{i.key}}",
                dataType:"json",
                success:function(result){
                    chart.addSeries({
                        name: "{{i.key}}",
                        data: result
                }   );
                }
            })

    {%endfor%}
{%else%}
    {%if oid%}
        $.ajax({
            type:"GET",
            url:"/get_data/?uuid={{device.uuid}}&metric={{oid.name}}",
            dataType:"json",
            success:function(result){
                chart.addSeries({
                    name: "{{oid.name}}",
                    data: result
                });
            }
        })

    {%else%}
        {%for i in metric%}
            $.ajax({
                type:"GET",
                url:"/get_data/?uuid={{device.uuid}}&metric={{interface.name}}.{{i}}",
                dataType:"json",
                success:function(result){
                    chart.addSeries({
                        name: "{{interface.name}}.{{i}}",
                        data: result
                    });
                }
            })

        {%endfor%}
    {%endif%}
{%endif%}
chart.hideLoading();
    $("#refresh").on('click',function(){
        start_arr = parse_datetime($("#datetimepicker1").data().date);
        end_arr = parse_datetime($("#datetimepicker2").data().date);
        start = Math.round(new Date(start_arr[0],start_arr[1]-1,start_arr[2],start_arr[3],start_arr[4],start_arr[5]).getTime()/1000);
        end = Math.round(new Date(end_arr[0],end_arr[1]-1,end_arr[2],end_arr[3],end_arr[4],end_arr[5]).getTime()/1000);
        var chart = $('#container').highcharts();
        while(chart.series.length > 0) {
            chart.series[0].remove(false);
        }
        //chart.redraw();
        chart.showLoading('数据加载中...');
        console.log(chart.series);
        {%if service%}
            {%for i in service.item_set.all%}
                    $.ajax({
                        type:"GET",
                        url:"/get_data/?uuid={{host.uuid}}&metric={{service.name}}.{{i.key}}&start=" + start + "&end" + end,
                        dataType:"json",
                        success:function(result){
                            chart.addSeries({
                                name: "{{i.key}}",
                                data: result
                            });
                        }
                    })
            {%endfor%}
        {%else%}
            {%if oid%}
                $.ajax({
                    type:"GET",
                    url:"/get_data/?uuid={{device.uuid}}&metric={{oid.name}}&start="+start+"&end="+end,
                    dataType:"json",
                    success:function(result){
                        //chart.series[0].setData(result);
                        chart.addSeries({
                            name: "{{oid.name}}",
                            data: result
                        });
                    }
                })
            {%else%}
                {%for i in metric%}
                    $.ajax({
                        type:"GET",
                        url:"/get_data/?uuid={{device.uuid}}&metric={{interface.name}}.{{i}}&start="+start+"&end="+end,
                        dataType:"json",
                        success:function(result){
                            //chart.series[{{forloop.counter0}}].setData(result);
                            chart.addSeries({
                                name: "{{interface.name}}.{{i}}",
                                data: result
                            });
                        }
                    })
                {%endfor%}
            {%endif%}
        {%endif%}
chart.hideLoading();
    });
</script>
{% endblock %}