{% extends "base.html"%}
{% block title%}自定义绘图{%endblock%}

{% block breadcrumb%}
    <li><a href="/">首页</a></li>
    <li><a href="/graph/graph/">自定义绘图</a></li>
    <li>{{graph.title}}</li>
{% endblock %}
{% block serach%}
    <input type="hidden"  name="graph_id" value="{{graph.id}}" class="form-control ">
{%endblock%}
{% block content%}
<div class="panel panel-default">
    <div class="table-responsive">
        <table id="host_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>指标</th>
            </tr>
        </thead>
        <tbody>
            {% if not metrics %}<tr class="warning"><td colspan="2">没有记录</td></tr>{%endif%}
            {% for metric in metrics %}
                <tr>
                    <td><input type="checkbox" name="delete" value="{{metric.id}}"></td>
                    <td>{{metric.ip}}.{{metric.metric}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
</div>
<nav>
    <ul class="pager">
        {% if metrics.has_previous %}
            <li><a id="p_page" href="?page={{ metrics.previous_page_number }}{%if graph%}&graph_id={{graph.id}}{%endif%}">上一页</a></li>
        {%endif%}
        当前页 {{ metrics.number }} 共 {{ metrics.paginator.num_pages }}页
        {% if metrics.has_next %}
        <li><a id="n_page" href="?page={{ metrics.next_page_number }}{%if graph%}&graph_id={{graph.id}}{%endif%}">下一页</a></li>
        {%endif%}
        <br/>总计 {{metrics.paginator.count}}条记录
    </ul>
</nav>
{% endblock %}


{%block js%}
<script type="text/javascript">
    var queryString = getUrlParam("q");
    if(queryString != null){
        $("#p_page").attr("href", $("#p_page").attr("href") + "&q=" + queryString)
        $("#n_page").attr("href", $("#n_page").attr("href") + "&q=" + queryString)
    }
</script>
{%endblock%}
