sudo: false

language: go

go:
  - 1.3
  - 1.4
  - 1.5
  - 1.6
  - tip

env:
  global:
    secure: sVEDVoF41aWPjXkMSZGW869scbg9IZZuVo4XaP022S0rlkt2FEnyTZZ2gVK8egt7Z2XrFK5tBvIy0kV/plzPiVpUXbUWMLoGjm7SHzjgwq0jeajDp6ZzxTE5oy+e5XHQ8zJ74Rsv/iP3cwm19MRurWni9NPJtOjHwzDouSO38u6iKT1n8QQBwhsxMUVXcQGqiCQQ0xc9+qbTW6nQrhqL+qEdKLP7TTLWov5MBvLOK6kCiIdLk/lgPwzznTxl8JmZQX212EZkx47Auk1zTv8AWd8V55bwvymEWv1b2r26MwEzq+HYbzU1j5omYlBkF1gO/UZPtEemkTalhmlQLL8JNF4aiVdP/4oNMqOk1bl7gDK1BTK2YpxwM9awSchfbM9eQP1XjPRKVSn7evIXjFEEqUNhvl5ywVC0ajCmrIkTFcF1wgHzhsQ0mRORJCtUTUl2n/roc2/29q2w7NjfqCbNaj7Ns9UUPAlr7BidDmJcRe+I5Dz29z3oEIzz2p4IpLQSPfqKVZKwsUoBkFW0sw30v2FBC2CD/eEvhjBIQg0S9bP1FyD6pbiHVIMxo1QQS9pGSJp+RxFSiKUIyUowzsMsTIkdQwnuv/0e/hRsrscJFThnU1/SclvMEQQqqgDk5nFwTLDQbZgH/Z5VM6Qhc6QIQUiUeqxpRgjYNbNTBYEXUh0=

install:
  - go get -t -v ./...
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

script:
  - make test
  - $(go env GOPATH | awk 'BEGIN{FS=":"} {print $1}')/bin/goveralls -coverprofile=coverage.txt -service=travis-ci -repotoken=$COVERALLS_TOKEN

after_success:
  - bash <(curl -s https://codecov.io/bash)
