{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>{%block title%}{%endblock%}</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    {% block css%}
    {% endblock %}
</head>
<!-- 自定义导航样式-->
<body>
<!-- 顶部导航栏 -->
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TalkingData</a>
        </div>
        <div class="collapse navbar-collapse"  aria-expanded="false">
            <ul class="nav navbar-nav">
                <li><a href="/">工作台</a></li>
                <li><a href="/assest/assest/">资产信息</a></li>
                <li><a href="/host/host/">主机列表</a></li>
                <li><a href="/host/group/">主机组</a></li>
                <li><a href="/network/device/">网络设备</a></li>
                <li><a href="/host/template/">服务模版</a></li>
                <li><a href="/graph/graph/">自定义绘图</a></li>
                 <li><a href="/appmonitor/">应用接入</a></li>
                {%if user.is_superuser %}
                    <li><a href="/system/user/">联系人</a></li>
                    <li><a href="/system/group/">联系人组</a></li>
                {%endif%}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                        {{user.userprofile.realname|default:user.username}} &nbsp;
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/system/user/{{user.id}}">设置</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<! 主体-->

<div class="container-fluid">
    {% csrf_token %}
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    {%block bread%}
    <ol class="breadcrumb">
        {% block breadcrumb%}
        {%endblock%}
    </ol>
    {%endblock%}
    {% block buttonHead %}
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-8">
            <input onclick="window.location.replace(window.location.pathname + 'add/' + window.location.search)" type="button" class="btn btn-primary btn-sm" value="新建">
            <input id="mEnable" type="button" class="btn btn-danger btn-sm" value="批量启用">
            <input id="mDisable" type="button" class="btn btn-danger btn-sm" value="批量禁用">
            <input id="mDelete" type="button" class="btn btn-danger btn-sm" value="批量删除">
            {% block buttonOther%}
            {% endblock %}
        </div>
        <div class="col-md-4">
            <form class="form-inline" style="text-align: right" method="get">
                {% block serach%}
                {%endblock%}
                <div class="form-group">
                    <label for="q" class="sr-only"></label>
                    <input type="text" id="q" name="q" class="form-control ">
                </div>
                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>
{% block js%}
{% endblock %}
</body>
</html>
{%else%}
<script>
    window.location.href = '/login/';
</script>
{% endif %}
